<div class="authentication">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <form class="card auth_form">
          <div class="header">
            <img class="logo" src="assets/images/logoh.png" alt="AMITACT">
            <h4>Change Password</h4>
            <div>
              <a routerLink="/" waves-teal class="btn bg-warning waves-teal" >Back <i class="zmdi zmdi-home"></i> </a>
            </div>
          </div>
          <div class="body">

            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Confirm Password">
              <div class="input-group-append">
                <span class="input-group-text"><i class="zmdi zmdi-assignment-check"></i></span>
              </div>
            </div>
            <a class="btn btn-primary btn-block waves-effect waves-light text-white">SEND</a>
          </div>
        </form>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="card">
          <img src="assets/images/signin.svg" alt="Sign In"/>
        </div>
      </div>
    </div>
  </div>
</div>
