<div class="authentication">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <form class="card auth_form">
          <div class="header">
            <img class="logo" src="assets/images/logoh.png" alt="AMITACT">
            <h4>Recover Account</h4>
            <div>
              <a routerLink="/" waves-teal class="btn bg-warning waves-teal" >Back <i class="zmdi zmdi-home"></i> </a>
            </div>
          </div>
          <div class="body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username , phone or email">
              <div class="input-group-append">
                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
              </div>
            </div>
            <a class="btn btn-primary btn-block waves-effect waves-light text-white">SEND</a>
            <div>
              <label class="small-text">
                You Already Have An Account ? <a routerLink="/login">SignIn</a></label>
            </div>
            <div >
              <label  class="small-text">
                You Dont Have An Account ? <a routerLink="/signup">SignUp</a></label>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="card">
          <img src="assets/images/signin.svg" alt="Sign In"/>
        </div>
      </div>
    </div>
  </div>
</div>
