.banner-one .container {
  position: relative;
  padding-top: 110px;
  padding-bottom: 275px;
}

.banner-logo {
  margin: 0 auto;
  display: block;
}

.scroll {
  background: red;
}

.main-nav__logo-box span {
  color: white;
}

.banner-one {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
  position: relative;
}

#contact .ctlogoimg {
  display: block;
  margin: 0 auto;
}
.footer-widget p a {
  color: #a3a4b3;
  transition: all 500ms ease;
}
.stricked-menu {
  display: block !important;
  transition: all .4s ease;
}

:host {
  scroll-behavior: smooth;
}

.lpc {
  opacity: 0 !important;
  transition: opacity 0s;

}

.banner-logo {

}

.lpc.loaded {
  opacity: 1 !important;
  transition: opacity .7s;

}

.header__btn, .side_btn {
  border: none;
  padding: 9px 45.25px;
  background-image: linear-gradient(90deg, #0349a6 0%, #15c27b 51%, #0349a6 100%);
}

.banner-logo-alt {
  display: none;
}

@media (max-width: 1199px) {
  .main-nav__logo-box .side-menu__toggler {
    display: block;
    /* margin-left: 20px; */
    float: right;
    right: 20px;
    position: absolute;
  }
  .header__btn {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .banner-logo {
    display: none;
  }
  .banner-logo-alt {
    display: block;
  }
}
