
<div class="authentication">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="card auth_form">
          <div class="header">
            <img class="logo" src="assets/images/logo.svg" alt="">
            <h5>Error 404</h5>
            <span>Page not found</span>
          </div>
          <div class="body text-center ">
            <a routerLink="/" waves-teal class="btn bg-warning waves-teal" >Home <i class="zmdi zmdi-home"></i> </a>
            <br>
            <a routerLink="/my" waves-teal class="btn bg-warning waves-teal" >login <i class="zmdi zmdi-account"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="card">
          <img src="assets/images/404.svg" alt="404" />
        </div>
      </div>
    </div>
  </div>
</div>
