<div class="navbar-right">
  <ul class="navbar-nav">
    <li><a class="main_search" title="Search..." (click)="showSearch()"><i class="zmdi zmdi-search"></i></a></li>
    <li><a href="javascript:void(0);" class="app_group_work" title="Dark/Light" (click)="togglelightdark()"><i
      class="zmdi zmdi-compare"></i></a></li>
    <li class="dropdown" ngbDropdown>
      <a href="javascript:void(0);" ngbDropdownToggle class="dropdown-toggle" title="Notifications"
         data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
      </a>
      <ul class="dropdown-menu slideUp2" ngbDropdownMenu>
        <li class="header">Notifications</li>
        <li class="body">
          <ul class="menu list-unstyled">
            <li>
              <a class="waves-effect waves-block waves-teal" href="javascript:void(0);">
                <div class="menu-info">
                  <h4>notif 1</h4>
                  <p>lorem ipsim lorem ipsim lorem ipsim lorem ipsim lorem ipsim </p>
                  <p><i class="zmdi zmdi-notifications"></i> 14 mins ago </p>
                </div>
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-teal" href="javascript:void(0);">
                <div class="menu-info">
                  <h4>notif 2</h4>
                  <p>lorem ipsim lorem ipsim lorem ipsim lorem ipsim lorem ipsim </p>
                  <p><i class="zmdi zmdi-notifications"></i> 22 mins ago </p>
                </div>
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-teal" href="javascript:void(0);">
                <div class="menu-info">
                  <h4>notif 3</h4>
                  <p>lorem ipsim lorem ipsim lorem ipsim lorem ipsim lorem ipsim </p>
                  <p><i class="zmdi zmdi-time"></i> 3 hours ago </p>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer"><a href="javascript:void(0);">View All Notifications</a></li>
      </ul>
    </li>
    <li class="dropdown" ngbDropdown>
      <a href="javascript:void(0);" ngbDropdownToggle class="dropdown-toggle" title="Notifications"
         data-toggle="dropdown" role="button"><i class="zmdi zmdi-email"></i>
        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
      </a>
      <ul class="dropdown-menu slideUp2" ngbDropdownMenu>
        <li class="header">Messages</li>
        <li class="body">
          <ul class="menu list-unstyled">
            <li>
              <a class="waves-effect waves-block waves-teal" href="javascript:void(0);">
                <div class="icon-circle bg-blue"><i class="zmdi zmdi-account"></i></div>
                <div class="menu-info">
                  <h4>user 1</h4>
                  <p><i class="zmdi zmdi-notifications"></i> 14 mins ago </p>
                </div>
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-teal" href="javascript:void(0);">
                <div class="icon-circle bg-amber"><i class="zmdi zmdi-account"></i></div>
                <div class="menu-info">
                  <h4>user 2</h4>
                  <p><i class="zmdi zmdi-notifications"></i> 22 mins ago </p>
                </div>
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-teal" href="javascript:void(0);">
                <div class="icon-circle bg-red"><i class="zmdi zmdi-account"></i></div>
                <div class="menu-info">
                  <h4>user 3</h4>
                  <p><i class="zmdi zmdi-time"></i> 3 hours ago </p>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer"><a href="javascript:void(0);">View All Messages</a></li>
      </ul>
    </li>
    <li class="dropdown" ngbDropdown>
      <a href="javascript:void(0);" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button"><i
        class="zmdi zmdi-laptop"></i>
        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
      </a>
      <ul class="dropdown-menu slideUp2" ngbDropdownMenu>
        <li class="header">Tasks List <small class="float-right"><a href="javascript:void(0);">View All</a></small></li>
        <li class="body">
          <ul class="menu tasks list-unstyled">
            <li>
              <div class="progress-container progress-primary">
                <span class="progress-badge">eCommerce Website</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0"
                       aria-valuemax="100" style="width: 86%;">
                    <span class="progress-value">86%</span>
                  </div>
                </div>
                <ul class="list-unstyled team-info">
                  <li class="m-r-15"><small>Team</small></li>
                  <li>
                    <img src="assets/images/xs/avatar2.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar3.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar4.jpg" alt="Avatar">
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="progress-container">
                <span class="progress-badge">iOS Game Dev</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                       aria-valuemax="100" style="width: 45%;">
                    <span class="progress-value">45%</span>
                  </div>
                </div>
                <ul class="list-unstyled team-info">
                  <li class="m-r-15"><small>Team</small></li>
                  <li>
                    <img src="assets/images/xs/avatar10.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar9.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar8.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar7.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar6.jpg" alt="Avatar">
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="progress-container progress-warning">
                <span class="progress-badge">Home Development</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="29" aria-valuemin="0"
                       aria-valuemax="100" style="width: 29%;">
                    <span class="progress-value">29%</span>
                  </div>
                </div>
                <ul class="list-unstyled team-info">
                  <li class="m-r-15"><small>Team</small></li>
                  <li>
                    <img src="assets/images/xs/avatar5.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar2.jpg" alt="Avatar">
                  </li>
                  <li>
                    <img src="assets/images/xs/avatar7.jpg" alt="Avatar">
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a routerLink="/logout" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
  </ul>
</div>
